anyio
beautifulsoup4
black
certifi
cffi
charset-normalizer
click
duckdb
exceptiongroup
Faker
fastapi
ffmpeg-python
future
GitPython
httpcore
httpx
jinja2
lxml
markdown2
mypy
numpy
opencv-python
packaging
pandas
pillow
polars
pyarrow
pycparser
pydantic
pydub
playwright
pytesseract
python-dateutil
python-dotenv
python-frontmatter
pytest
pyyaml
requests
rich
selenium
sniffio
soupsieve
speechrecognition
sqlalchemy
starlette
tqdm
typer
tzdata
urllib3
uvicorn
websockets
whisper
loguru  # Advanced logging
