anyio
beautifulsoup4
black
certifi
cffi
charset-normalizer
click
duckdb
exceptiongroup
Faker
fastapi
future
GitPython
httpcore
httpx
jinja2
lxml
markdown2
mypy
numpy
ocrmypdf
packaging
pillow
pydantic
pydub
python-dateutil
python-dotenv
python-frontmatter
pytest
pytesseract
pyyaml
requests
rich
sniffio
soupsieve
speechrecognition
starlette
tqdm
typer
tzdata
urllib3
uvicorn
websockets
whisper
loguru  # Advanced logging
